<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogSearch\Block\Result" type="Sm\AttributesSearch\Block\CatalogSearch\Result" />
	<preference for="Magento\CatalogSearch\Controller\Result\Index" type="Sm\AttributesSearch\Controller\CatalogSearch\Result\Index" />
</config>
